.about {
    background-color: grey;
    height: 1200px;
}

.about .description {
    font-size: 40px;
}

.content {
    display: flex;
    justify-content: space-around;
}

.picture .image {
    width: 200px;
}