.about {
    background-color: #0F1624;
    height: 1000px;
    border-left: 20px solid white;
}

.about .description {
    font-size: 40px;
}

.content {
    display: flex;
    justify-content: space-around;
}

.picture .image {
    width: 200px;
}