.about {
    background-color: #0F1624;
    height: auto;
    border-left: 20px solid rgb(255, 255, 182);
    margin: 14% 0 12% 0;
}

.about .description {
    font-size: 40px;
}

.content {
    display: flex;
    justify-content: space-around;
}

.picture .image {
    width: 200px;
}

@media (max-width: 899px) {
    .about {
        height: 800px;
    }
}