.stack {
    height: auto;
    margin: 7% 0 7% 0;
}

@media (max-width: 900px) {
    .stack {
        height: auto;
    }
    .stackItem {
        width: 50px !important;
        height: 50px !important;
    }
}

