.stack {
    height: auto;
    margin: 7% 0 7% 0;
}

@media (max-width: 900px) {
    .stack {
        height: auto;
    }
    .stackItem {
        width: 50px !important;
        height: 50px !important;
    }
}

@media (max-width: 645px) {
    .stack {
        height: auto;
    }
    .stack__container {
        gap: 10px;
    }
    .stackItem {
        width: 25px !important;
        height: 25px !important;
    }
}


