.app {
  background-color: #0F1624;
  font-family: Roboto, sans-serif ;
  padding: 0 10% 0 10%;
}

h1 {
  color: #F7F7F7;
  font-size: 74px;
}

.headerNav {
  background-color: #0F1624;
  display: flex;
  gap: 30px;
  height: 5vh;
  justify-content: center;
  align-items: center;
}

.headerNav-item {
  font-size: 20px;
  color: #F7F7F7;
  font-weight: 600;
  cursor: pointer;
}
